.main {
  width: 100%;
}

.headerTitleAndNumber {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-between;
}

.cartNumber {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
}

.phoneLayout {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 50px;
}

.phoneImage {
  width: 188px;
  height: 239px;
}

.informationTextLayout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 760px;
}

.column {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 2s;
  border-radius: 20px;
}

.column:hover {
  background-color: #a9a9a9;
}

.textStyle {
  font: "Roboto";
  fontweight: 400;
  fontsize: "24px";
  lineheight: "40px";
}

.paymentLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  gap: 20px;
}

.payment {
  display: flex;
  width: 400px;
  justify-content: space-between;
  align-items: center;
}
